registry=https://pkgs.dev.azure.com/msface/SDK/_packaging/AzureAIVision/npm/registry/
always-auth=true
; begin auth token
//pkgs.dev.azure.com/msface/SDK/_packaging/AzureAIVision/npm/registry/:username=msface
//pkgs.dev.azure.com/msface/SDK/_packaging/AzureAIVision/npm/registry/:_password=Q3ZmVUNqdFFEbTdUUFkwZjg1bmpOTVJONFdSSFFEMTNSMmtLODU5bHNXVnozZUM0ZWdma0pRUUo5OUJGQUNBQUFBQUFBcm9oQUFBU0FaRE8zSXVQ
//pkgs.dev.azure.com/msface/SDK/_packaging/AzureAIVision/npm/registry/:email=oshoo4@coventry.ac.uk
//pkgs.dev.azure.com/msface/SDK/_packaging/AzureAIVision/npm/:username=msface
//pkgs.dev.azure.com/msface/SDK/_packaging/AzureAIVision/npm/:_password=Q3ZmVUNqdFFEbTdUUFkwZjg1bmpOTVJONFdSSFFEMTNSMmtLODU5bHNXVnozZUM0ZWdma0pRUUo5OUJGQUNBQUFBQUFBcm9oQUFBU0FaRE8zSXVQ
//pkgs.dev.azure.com/msface/SDK/_packaging/AzureAIVision/npm/:email=oshoo4@coventry.ac.uk
; end auth token